@media screen and (max-width: 1224px) {

	/* Hébergements à Marseille + Les plus poulaires tablette */

	#hebergements-populaires {
		display: flex;
		flex-direction: column-reverse;
	}

	#les-populaires {
		width: auto;
		margin-bottom: 40px;
	}

	#hebergements-marseille {
		width: auto;
	}

	/* Les populaires */

	#les-populaires-dispos {
		flex-direction: row;
		justify-content: space-evenly;
	}

	/* Activité */

	.galerie-3 {
    	width: 48%; 
    	margin-bottom: 25px;
	}

	.galerie-3-double {
    	width: 48%; 
    	margin-bottom: 25px;
	}
}


/* ***************************************************************************************** */

@media screen and (max-width: 760px) {

	#header {
		display: none;
	}

	#header-mobile {
		display: flex;
		flex-direction: column;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	#banniere-mobile {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 10px;
	}

	#menu-mobile {
		margin-left: -25px;
    	margin-right: -25px;
	}

	nav ul {
		justify-content: space-around;
		padding: 0;
		border-bottom: 3px solid #f2f2f2;
		padding-bottom: 15px;
	}

	nav a:hover {
		border-top: none;
		border-bottom: 3px solid #0065FC;
		padding-bottom: 15px;
	}

	/* Search */

	#form-desktop {
		display: none;
	}

	#form-mobile {
		display: flex;
	}

	.fa-search-location {
		border: 1px solid #f2f2f2;
		padding: 15px;
		border-radius: 10px 10px 10px 10px;
		background-color: #0065FC;
		color: #ffffff;
		font-size: 17px;
		cursor: pointer;
	}

	button {
		margin-left: -30px;
	}

	.filtres {
	    margin-right: 10px;
	}

	/* Filtre */

	#filtres {
	    flex-direction: column;
    }

	/* Hébergements à Marseille + Les plus poulaires mobile */

	#hebergements-populaires {
		display: flex;
		flex-direction: column-reverse;
		margin-right: -20px;
		margin-left: -20px;
	}

	/* Les plus poulaires mobile */

	#les-populaires {
	    margin-bottom: 0;
	    border-radius: 0;
    }

    #les-populaires-dispos {
    	flex-direction: column;
    }

	/* Hébergements à Marseille */

	#hebergements-marseille { 
	    background-color: #ffffff;
	    padding-bottom: 0;
	}

	.galerie {
    	width: auto;
    	margin-right: 0;
    	margin-left: 0;
    }

	/* Activités Marseille mobile */

	#activites-marseille h2 {
		margin-top: -25px;
	}

	.galerie-3 {
	    width: auto;
	}

	.galerie-3 img {
		height: 135px;
	}

	.galerie-3-double {
		width: auto;
	}

	.galerie-3-double-css-1 img, .galerie-3-double-css-2 img, .galerie-3-double-css-3 img, .galerie-3-double-css-4 img {
		height: 135px;
	}

	.galerie-3-double-css-1, .galerie-3-double-css-3 {
		margin-bottom: 25px; 
	}

	/* Footer mobile */

	footer {
		flex-direction: column;
	}
}
